<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/anasayfa.css">
    </head>
    <body>
        <div class="space">
            <span class="planet p1"></span>
            <span class="planet p2"></span>
            <span class="planet p3">
                <i class="ring-back"></i>
                <i class="sphere"></i>
                <i class="ring-front"></i>
            </span>
        </div>

        <header class="header-container">
            <div class="header-first">
                <h1>Rasathane</h1>
            </div>

            <div class="header-logo">
                <img src="../../static/img/rasathane_amblem.png">
            </div>

            <div class="header-second">
                <h1>Evrenin Merkezi</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <section class="box">
                    <h2>Kahvenizi gökyüzünün altında için</h2>
                    <p>
                        Rasathane, kahvenin ve gökyüzünün aynı masada buluştuğu bir durak.
                         Her içeceğin bir yörüngesi, her masanın bir takımyıldızı var.
                          Sabahın ilk ışığından gecenin en koyu saatine kadar buradayız.
                    </p>
                </section>

                <section class="box">
                        <a href="#">
                            Menü
                        </a>
                        <p>Menüye bir göz atın</p>
                </section>

                <section class="box">
                    <h2>Kurallar</h2>
                    <div class="rules">
                        <ul class="rule-list">
                            <li class="rule-list-item">Sigara sadece bahçe bölümünde içilir</li>
                            <li class="rule-list-item">Evcil hayvanlar sadece bahçede</li>
                            <li class="rule-list-item">Rezervasyon telefonla, en az bir gün önce</li>
                            <li class="rule-list-item">Yoğun saatlerde masa kullanımı 2 saatle sınırlı</li>
                            <li class="rule-list-item">Dışarıdan yiyecek ve içecek getirilemez</li>
                            <li class="rule-list-item">Ücretsiz wifi, şifre masalarda mevcut</li>
                            <li class="rule-list-item">Prizli masalar sınırlı, çalışmak için gelecekseniz bir sorun</li>
                            <li class="rule-list-item">Kayıp eşyalar 15 gün saklanır</li>
                        </ul>
                    </div>
                </section>

                <section class="box">
                    <div class="hours">
                        <h2>Çalışma saatleri</h2>
                        <div class="hour-row">
                            <span>Pazartesi - Cuma</span>
                            <i class="line"></i>
                            <span>08:00 - 23:00</span>
                        </div>
                        <div class="hour-row">
                            <span>Cumartesi - Pazar</span>
                            <i class="line"></i>
                            <span>09:00 - 01:00</span>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>