<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/musteri.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="customer-id">
            <h1>A2</h1>
        </div>

        <header>
            <div class="logo">
                <img src="../../static/img/rasathane_amblem.png" alt="Rasathane"> 
                <h1>Rasathane</h1>
                <p>Kahve ve Gökyüzü</p>
            </div>
        </header>

        <main>
            <div class="categories-nav">
                <nav>
                    <ul>
                        <li>Tümü</li>
                        <li>Yemekler</li>
                        <li>İçecekler</li>
                        <li>Atıştırmalıklar</li>
                        <li>Sipariş Durumu</li>
                    </ul>
                </nav>
            </div>

            <div class="categories-cards">
                <div class="card">
                    <img src="../../static/img/anayemek.webp" alt="">
                    <p>Ana Yemekler</p>
                </div>

                <div class="card">
                    <img src="../../static/img/arayemekler.webp" alt="">
                    <p>Ara Yemekler</p>
                </div>

                <div class="card">
                    <img src="../../static/img/sogukicecekler.webp" alt="">
                    <p>Soğuk İçecekler</p>
                </div>

                <div class="card">
                    <img src="../../static/img/sicakicecekler.jpg" alt="">
                    <p>Sıcak İçecekler</p>
                </div>
            </div>
        </main>
    </body>
</html>