<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/musteri.css">
    </head>
    <body>
        <header class="siparis-header">
            <h1>Siparişlerim</h1>
        </header>

        <main>
            <div class="siparisler">
                <div class="siparisler-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Adet</th>
                                <th>Ürün</th>
                                <th>Boy</th>
                                <th>Tutar</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Latte</td>
                                <td>Jüpiter</td>
                                <td>200 TL</td>
                                <td>Fırlatma Bekleniyor</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Latte</td>
                                <td>Venüs</td>
                                <td>150 TL</td>
                                <td>Yörüngede</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Machiato</td>
                                <td>Dünya</td>
                                <td>175 TL</td>
                                <td class="done">İniş Tamamlandı</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Mocha</td>
                                <td>Dünya</td>
                                <td>175 TL</td>
                                <td class="undone">Görev İptal</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Toplam</td>
                                <td>525 TL</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="siparis-footer">
                    <a href="menu.html">Menü</a>
                </div>
            </div>
        </main>
    </body>
</html>